/* AsideDerecha.css */
.EstiloSeccionLateral {
    position: absolute;
    z-index: 10;
    /* Utiliza la variable CSS para la propiedad 'top' */
    top: var(--top-position, 150px); /* Valor por defecto de 20px */
    margin-right: 50px;
    right: 0;
    height: 70%;
    width: 20%;
    background-color: none;
    border: 0.5px solid gray;
    border-radius: 60px;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
.AsideDerecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* This ensures the flex container takes full height */
    /* Other styles remain unchanged */
}
@media (max-width: 1024px) {
    .EstiloSeccionLateral{
        display: none;
    }
}