.EstiloSeccionXperiencias{
    background-color: none;
    width: 70%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 10px;
    vertical-align: top;
    text-align: left;
    height: auto;
    
    
}