.TodoCreateDiv {
    width: 70%;
    background-color: none; /* Aquí se ajusta la opacidad del fondo */
    margin: auto;
    border-radius: 10px;
    vertical-align: top;
    text-align: left;
    height: auto;
  }

@media (max-width: 1024px) {
  .TodoCreateDiv{
      width: 70%;
  }
}
@media (max-width: 768px) {
    .TodoCreateDiv{
        width: 95%;
    }
}