/* AsideDerecha.css */
.EstiloSeccionLateralNoFijawBgPerfil {
    position:sticky;
    z-index: 10;

    margin-right: -15px;
    right: 0;
    height: 100%;
    width: 30%;
    background-color: none;

    border-radius: 60px;
    vertical-align: initial;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
    justify-content: left;
    align-items: left;
    padding-bottom: 35px;
  }
.AsideDerecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* This ensures the flex container takes full height */
    /* Other styles remain unchanged */
}
@media (max-width: 1024px) {
    .EstiloSeccionLateralNoFijawBgPerfil{
        display: none;
    }
}