.TodoCreateDivFlexVertical {
    width: 95%;
    background-color: none; /* Aquí se ajusta la opacidad del fondo */
    margin: auto;
    vertical-align: top;
    text-align: left;
    height: auto;
    display: flex;
    flex-direction: column;
  }