.ImagenesXperienciaPreview{
    width: 31%;
    border-radius: 200px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
    
}
.carrusel-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
  }
@media (max-width: 1024px) {
    .ImagenesXperiencia{
        width: 10%;
    }
}
@media (max-width: 768px) {
    .ImagenesXperiencia{
        width: 40%;
    }
}