.ImagenesLogos{
    width: 10%;
    border-radius: 200px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    background-color: white;
}

@media (max-width: 1024px) {
    .ImagenesLogos{
        width: 13%;
    }
}
@media (max-width: 768px) {
    .ImagenesLogos{
        width: 20%;
    }
}