.TituloPrincipal{
    font-size: xx-large;
    text-align: center;
    margin: 0;
    padding: 30px;
    color: white;
}

.TituloPrincipal2{
    font-size: xx-large;
    text-align: center;
    margin: 0;
    padding: 30px;
    color: black;
  }