
* {
margin: 0;
box-sizing: border-box;
}

body {
font-family: sans-serif;
padding: 90px  0px;
}
.header {
background-color: white;
height: 80px;
position: fixed;
width: 100%;
top: 0;
left: 0;
border-bottom: 1px double gray;
z-index: 1000;
}

.nav {
display: flex;
justify-content: space-between;
margin: 0 auto;
}

.nav-link {
color: black;
text-decoration: none;
}
.fa-bars{
    color: black;
    width: 100%;
}
.logo {
font-size: 30px;
font-weight: bold;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 80px;
padding-right: 0px;
line-height: 80px;
}

.X {
    color: #414BB2; /* Elige el color que prefieras para 'Agave' */
}

.periencia {
    color: black; /* Elige el color que prefieras para 'Land' */
}

.nav-menu {
display: flex; 
list-style: none;
}

.social-menu {
    display: flex;
    list-style: none;
    padding-left: 0px;
}
.nav-menu-item {
display: none;
font-size:smaller;
font-weight: bold;
margin: 0 10px;
line-height: 80px;
text-transform: uppercase;
width: max-content;
}
.nav-menu-item-user {
  font-size: xx-large;
  border: 2px solid gray; /* Ajusta el color y el grosor del borde como prefieras */
  border-radius: 50%; /* Esto hace que el borde sea circular */
  font-weight: bold;
  margin: 0 20px;
  line-height: 80px; /* Asegúrate de que el line-height y width sean iguales para un círculo perfecto */
  text-transform: uppercase;
  margin-top: 15px;
  width: 55px; /* Ajusta el ancho para que coincida con el line-height */
  height: 55px; /* Añade una altura para que sea igual que el ancho */
  display: flex; /* Esto centrará el ícono dentro del elemento */
  justify-content: center; /* Centra horizontalmente el contenido (el ícono) */
  align-items: center; /* Centra verticalmente el contenido (el ícono) */
  overflow: hidden; /* Esto asegura que nada se desborde del círculo */
  background-color: white; /* Cambia al color de fondo que prefieras */
}

/* Añade esto para el efecto de hover */
.nav-menu-item-user:hover {
  background-color: lightgrey; /* Cambia al tono de gris que prefieras al hacer hover */
  border: 2px solid lightgray; /* Ajusta el color y el grosor del borde como prefieras */
}


.nav-menu-link {
padding: 8px 12px;
border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
color: #2cbc9f;
transition: 0.5s;
}

/* TOGGLE */
.nav-toggle {
color: black;
background: none;
border: none;
font-size: 30px;
padding: 0 20px;
line-height: 60px;
cursor: pointer;

display: none;
}

@media (max-width: 1024px) {
    body {
        padding-top: 70px;
      }
    
      .header {
        height: 60px;
      }
    
      .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
      }
    
      .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        background-color: white;
        position: fixed;
        top: 60px;
        width: 100%;
        padding: 20px 0;
    
        height: calc(100% - 60px);
        overflow-y: auto;
    
        left: 100%;
        transition: left 0.3s;
      }
    
      .nav-menu-item {
        display: inline;
        line-height: 70px;
      }
      .nav-menu-item-user {
        display: none;
      }
    
      .nav-menu-link:hover,
      .nav-menu-link_active {
        background: none;
        color: #414BB2;
      }
    
      .nav-toggle {
        display: block;
        color: black;
      }
    
      .nav-menu_visible {
        left: 0;
      }
    
      .nav-toggle:focus:not(:focus-visible) {
        outline: none;
      }
      
}