.TextoVacante{
  font-size: xx-large;
  text-align: center;
  margin: 0;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  color: black;
}

.TextoVacanteUb{
  font-size: large;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  color: black;
}

@media (max-width: 1024px) {
  .TextoVacante{
    font-size: x-large;
  }
  .TextoVacanteUb{
    font-size: medium;
  }
}

@media (max-width: 768px) {
  .TextoVacante{
    font-size: large;
  }
  .TextoVacanteUb{
    font-size: small;
  }
}


