.EstiloDivisionFlexHorizontal {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    justify-content: space-between; /* Adds space between elements */
    align-items: center; /* Vertically centers elements */
}
.EstiloDivisionFlexHorizontal button {
    flex: 0 0 auto; /* Prevents the button from growing */
    padding: 5px 10px; /* Reduces button size */
    /* Add more button styling as needed */
    width: 100%;
}