.ImagenesEstudiantes{
    width: 10%;
    border-radius: 200px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    background-color: white;
}

@media (max-width: 1024px) {
    .ImagenesEstudiantes{
        width: 25%;
    }
}
@media (max-width: 768px) {
    .ImagenesEstudiantes{
        width: 40%;
    }
}